@model MedicareApp.Models.Feedback

@{
    ViewData["Title"] = "Give Feedback";
}

<h2>Give Feedback</h2>
<hr />

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Rating"></label>
        <select asp-for="Rating" class="form-control">
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

